﻿
@{
    ViewBag.Title = "Request Error";
}

@*<h2>AlreadyProcessed</h2>*@

@*<p>This request has already been processed and no action has been taken.</p>
<p>You may close this window or tab.</p>*@

<div class="container">
    <div class="row">
        <div class="col-md-3">

        </div>
        <div class="col-md-6">
            <p style="text-align: justify">This request has already been processed and no action has been taken.</p>
            <p style="text-align: justify">You may close this window or tab.</p>
        </div>
        <div class="col-md-3">

        </div>
    </div>
    <div class="row">
        <p></p>
        <p></p>
    </div>
</div>