﻿@model UserAdmin.Models.Request

@{
    ViewBag.Title = "Approve";
}

<h2>Request Approval</h2>

<p>Your request for @Model.RequestName has been approved.</p>
<p>You may close this window or tab.</p>