﻿@model UserAdmin.Models.Request

@{
    ViewBag.Title = "Decline";
}

<h2>Request Declined</h2>

<p>Your request for @Model.RequestName has been declined.</p>
<p>You may close this window or tab.</p>