﻿@model UserAdmin.Models.Request

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Request</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserEMail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserEMail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Duration)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Duration)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GenUserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GenUserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GenPassword)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GenPassword)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RequestName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RequestName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RequestCompany)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RequestCompany)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Authorizer.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Authorizer.UserName)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
