﻿@model UserAdmin.Models.Request

@{
    ViewBag.Title = "Duplicate Request";
}

@*<h2>DuplicateRequest</h2>*@

@*@if (@Model.TimeRequested.Value.AddHours(@Model.Duration) > DateTime.Now)
{
    <p>The submitted request has already been requested by @(Model.Username) on @(Model.TimeRequested.Value.ToString("HH:mm dd/MM/yyyy")) and is still valid.</p>
    <p>New requests cannot be processed until existing requests have expired.</p>
}
else
{
    <p>The submitted request has already been requested by @(Model.Username).</p>
}*@

<div class="container">
    <div class="row">
        <div class="col-md-3">

        </div>
        <div class="col-md-6">
            @if (@Model.TimeRequested.Value.AddHours(@Model.Duration) > DateTime.Now)
            {
                
    <p style="text-align: justify">The submitted request has already been requested by @(Model.Username) on @(Model.TimeRequested.Value.ToString("HH:mm dd/MM/yyyy")) and is still valid.</p>
    <p style="text-align: justify">New requests cannot be processed until existing requests have expired.</p>
            }
            else
            {
                
    <p style="text-align: justify">The submitted request has already been requested by @(Model.Username).</p>
            }
        </div>
        <div class="col-md-3">

        </div>
    </div>
    <div class="row">
        <p></p>
        <p></p>
    </div>
</div>