﻿@model UserAdmin.Models.CurrentUserInfo

@{
    ViewBag.Title = "New Access Request";
}



<form name="form1" id="form1" action="SubmitRequest" method="post">
    <table width="100%">
        <tr>
            <td width="20%"></td>
            <td></td>
            <td width="20%"></td>
        </tr>
        <tr>
            <td></td>
            <td>
                <p style="text-align: justify">The Guest WiFi Portal allows your guests to connect to the Internet, get mail or connect to their own Corporate networks, while visiting Illovo's Head Office. </p>
                <p style="text-align: justify">Your guest will not be able to directly connect to any information on the Illovo Network.</p>
                <p style="text-align: justify">Please inform your Guest that all Internet traffic is monitored for appropriate use.</p>
                <p style="text-align: justify">It is your (@User.Identity.Name) responsibility to only allow valid business guests onto this Guest Portal.</p>
                <p style="text-align: justify">Please complete the details below to request wireless access for your guest.</p>
                @*<p style="text-align: justify">Please note that this wireless access is convered by the standard Illovo Group IT network access policies and you (@User.Identity.Name) are responsible for your guest's behaviour.</p>*@
            </td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td>
                <table width="100%">
                    <tr>
                        <td width="20%"></td>
                        <td>
                            <p>Full name: </p>
                        </td>
                        <td>
                            <input type="text" name="username" id="username" required />
                        </td>
                        <td width="20%"></td>
                    </tr>
                    <tr>
                        <td width="20%"></td>
                        <td>
                            <p>Company name: </p>
                        </td>
                        <td>
                            <input type="text" name="company" id="company" required />
                        </td>
                        <td width="20%"></td>
                    </tr>
                    <tr>
                        <td width="20%"></td>
                        <td>
                            <p>Duration (hours): </p>
                        </td>
                        <td>
                            <input type="number" name="duration" id="duration" min="1" max="@Model.maxRequest" required />
                        </td>
                        <td width="20%"></td>
                    </tr>
                    <tr>
                        <td width="20%"></td>
                        <td colspan="2">
                            <input type="checkbox" required /> I accept the standard Illovo Group IT policies relating to this access.
                        </td>
                        <td width="20%"></td>
                    </tr>
                    <tr>
                        <td width="20%"></td>
                        <td colspan="2" align="right">
                            <input type="submit" />
                        </td>
                        <td width="20%"></td>
                    </tr>
                </table>
            </td>
            <td></td>
        </tr>
    </table>
    </form>


    @*<div class="container">
            <div class="row">
                <div class="col-md-3">

                </div>
                <div class="col-md-6">
                    <p style="text-align: justify">Please complete the details below to request wireless access for your guest.</p>
                    <p style="text-align: justify">Please note that this wireless access is convered by the standard Illovo Group IT network access policies and you (@User.Identity.Name) are responsible for your guest's behaviour.</p>
                </div>
                <div class="col-md-3">

                </div>
            </div>
            <div class="row">
                <p></p>
                <p></p>
            </div>
        </div>*@




    @*<form name="form1" id="form1" action="SubmitRequest" method="post">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                </div>
                <div class="col-md-2">
                    <p>Full name: </p>
                </div>
                <div class="col-md-2">
                    <input type="text" name="username" id="username" required />
                </div>

            </div>
            <div class="row">
                <p></p>
            </div>
            <div class="row">
                <div class="col-md-4">
                </div>
                <div class="col-md-2">
                    <p>Company name: </p>
                </div>
                <div class="col-md-2">
                    <input type="text" name="company" id="company" required />
                </div>
            </div>
            <div class="row">
                <p></p>
            </div>
            <div class="row">
                <div class="col-md-4">
                </div>
                <div class="col-md-2">
                    <p>Duration (hours): </p>
                </div>
                <div class="col-md-2">
                    <input type="number" name="duration" id="duration" min="1" max="@Model.maxRequest" required />
                </div>
            </div>
            <div class="row">
                <p></p>
            </div>
            <div class="row">
                <p></p>
            </div>
            <div class="row">
                <div class="col-md-4">

                </div>
                <div class="col-md-4">
                    <input type="checkbox" required /> I accept the standard Illovo Group IT policies relating to this access.
                </div>
            </div>
            <div class="row">
                <p></p>
            </div>
            <div class="row">
                <div class="col-md-4">

                </div>
                <div class="col-md-2">

                </div>
                <div class="col-md-2">
                    <input type="submit" />
                </div>
            </div>
        </div>
    </form>*@

