﻿@model UserAdmin.Models.Request

@{
    ViewBag.Title = "Request Submitted";
}

<h2>Request Submitted</h2>

<p>Your request has been submitted.</p>
@*<p>If your request requires approval, you will receive an e-mail on the outcome of the approval once it has been decided on.  If your request does not require approval, you may expect an e-mail soon with the relevent logon details.</p>*@

@if (@ViewBag.Approved)
{
    <p>Your request doesn't require approval.  You may expect an e-mail shortly with the relevent logon details.</p>
}
else
{
    <p>Your request requires approval.  You will receive an e-mail once your request has been approved or declined.</p>
}
