﻿@model UserAdmin.Models.CurrentUserInfo

@{
    ViewBag.Title = "UserInfo";
}

<h2>UserInfo</h2>


        @*public String userName { get; set; }
        public String groupSID { get; set; }
        public Boolean isActive { get; set; }
        public Boolean canRequest { get; set; }
        public int maxRequest { get; set; }
        public Boolean needsAuth { get; set; }
        public Boolean isAuth { get; set; }*@

@{
    @Model.userName;
    <br />
    @Model.groupSID;
    <br />
    @Model.isActive;
    <br />
    @Model.canRequest;
    <br />
    @Model.maxRequest;
    <br />
    @Model.needsAuth;
    <br />
    @Model.isAuth;
}
